* {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.1);
}

.App {
  width: 60vw;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
}

header > img {
  padding-right: 20px;
}

header > div {
  flex-direction: column;
}

.wide-nav{
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.narrow-nav{
  display: none;
}
.main-content {
  min-height: 70vh;
}

footer {
  padding: 20px;
  text-align: center;
}

footer ul li {
  font-size: 2em;
  display: inline;
  margin: 0 10px;
}


@media (max-width: 480px){
  header{
    display:none;
  }

  .wide-nav{
    display: none;
  }

  .narrow-nav{
    display: block;
  }
}