body {
  font-family: "Source Code Pro", monospace;
}

/* Navigation Styles */
nav {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  list-style: none;
}

/* nav li:first-child {
  grid-column-start: 2;
  grid-column-end: 3;
  /* background-color: red;
} */

nav li a {
  text-decoration: none;
}


.narrow-nav{
  display:none;
}
/* .displayMobileNav{
  display: block;
  color: red;
} */
.hideMobileNav{
  display: none;
}

.slide-up, .slide-down {
  max-height: 0;            
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}
.slide-down {            
  max-height: 60px ;                    
}    
.slider.closed{
  max-height: 0;
}
/* End Navigation Styles */

@media (max-width: 450px){
  .wide-nav{
    display: none;
  }
  .narrow-nav{
    display:block;
    grid-column: 1/3;
  }
}

